
@font-face {
    font-family: 'iran-sans';
    src: url('../font/iran_sans.eot') format('eot'),
    url('../font/iran-sans.woff') format('woff'),
    url('../font/iran_sans.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body, html {
    direction: rtl;
    font-family: 'iran-sans' !important;
}


div.container-fluid ul.navbar-nav {
    padding-right: 0 !important;
}

.brand {
    float: right;
    padding: 7px 10px;
}

.brand a {
    color: #fff;
}

.brand a:hover {
    color: #ff4500;
}

#myCarousel {
    height: 400px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {

    margin: auto;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.mnu {
    background-color: #000000;
    opacity: 0.7;
    box-shadow: 0 0 16px rgba(0, 0, 0, .75);
    border-radius: 4px;
}

.dropdown-menu {
    border-bottom-left-radius: 4px;
    border-color: darkblue;
    background-color: darkgrey;
}

.dropdown-menu li {
    box-shadow: 1px 2px 13px #060606;
    background-color: #d2cfcf;
    border-radius: 3px;

}

.dropdown-menu li a {
    text-align: right;
    color: #2d4152;
}

.nvcolor {
    box-shadow: 0 0 16px rgba(0, 0, 0, .75);
    background-color: #10a5ef;
    border-radius: 4px;
}

.nvcolor li a {
    color: #fff;
    font-weight: bold;
}

.nvcolor li a:hover {
    color: #26566d;

}

.top-lft-side {
    color: rgba(204, 204, 204, 0.82);
    text-align: center;
    padding: 7px 0;
}

.top-lft-side span {

    padding: 3px;
    border-style: double;
    border-color: darkgray;
}

.seprate-mnu {

    width: 200px;
    height: 120px;
    background-color: #3ea1d8;
    margin: 10px 6px 0 6px;
    display: inline-table;
    color: #fff;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
}

.seprate-mnu p a {
    text-decoration: none;
    color: #26566d;
}

.side-l {

    box-shadow: 0 0 16px rgba(0, 0, 0, .75);
    background-color: #f1efef;
    color: #555;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    display: block;
    list-style: none;
    margin-top: 20px;
    margin-right: 5px;

}

.side-l li {
    border-bottom-style: double;
    border-bottom-color: #ded5d5;
    padding: 7px 0;
    margin: 10px 0;

}

.side-l li a {
    text-decoration: none;
    color: #0077e2;
}

.news {
    margin: 10px 5px;
    padding: 5px;
}

.pstion {
    width: 105px;
    height:116px;
    float: left;
    border-style: groove;
    border-color: rgba(204, 204, 204, 0.07);
}
.pstion img{
    margin: 0 auto;
}

.mtn {
    background-color: #efefef;
    box-shadow: 0 0 16px rgba(72, 68, 68, 0.38);
    background-color: #f1efef;
    color: #555;
    padding: 7px;
    font-size: 13px;
}

.mtn a {
    text-decoration: none;
}

.mtn a:hover {
    text-decoration: none;
}

/* footer*/

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
    border-radius: 4px;
}

.ftr-cpyrit {
    text-align: center;
    margin-top: 30px;
}

#myFooter .navbar-brand {

    height: 65px;
}

.ftr-cpyrit p {

    color: #ccc;
}

.ftr-cpyrit a:hover {
    color: #ff4500;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;

}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;

}

#myFooter .tlg:hover {
    color: #0077e2;
}

#myFooter .gpls:hover {
    color: #ef1a1a;
}

#myFooter .ins:hover {
    color: #d84b6b;
}

#myFooter .twt:hover {
    color: #00aced;
}

.callocal {
    margin: 20px 0;
    text-align: center;
    color: #ccc;
}
.callocal a {
    text-decoration: none;
    color: darkgray;
}
.local{
    border-bottom: 1px groove  rgba(210, 207, 207, 0.22);
    border-width: 70%;
    padding:5px 0 0 0;
    text-align: center;
}
#myFooter .btn {
    color: white;
    background-color: #10a5ef;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;

}

#myFooter .btn:hover {
    background-color: #d84b6b;
}

.form-control input:focus {
    box-shadow: 0 1px 10px rgba(84, 74, 74, 0.4) inset;

}

.form-control textarea:focus {
    box-shadow: 0 1px 10px rgba(84, 74, 74, 0.4) inset;

}

.pdng {
    padding: 7px 0;
}

.dsign {
    text-align: right;
}

.form-padding {
    padding: 15px 0;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    div.container-fluid ul.navbar-nav {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
    }

    div.container-fluid li {
        width: 100%;
    }
}

/*end footer*/



