.icon-align-right{
  margin-right:5px;
}
.icon-align-left {
  margin-left:5px;
}
.text-orange{
  color: $text-orange;
}
.mb1{
  margin-bottom: 1em;
}
#slider{
  .carousel-inner-custom>.item>img, .carousel-inner-custom>.item>a>img{
    width: 100%;
    height: 92vh;
  }
}
.call-action{
  text-align: center;
  padding: 23px 0;
  background-color: $bg-orange;
  color: $text-white;
}
#service-content{
  padding-top: 3em;
  padding-bottom: 3em;

  .content-s-box{

    & p{
      max-height: 100px;
      overflow-y: hidden;
      color: $text-gray;
      font-size: 0.9em;
    }

    & .text-more{
      color: $text-orange;
      font-size: 0.8em;
    }

  }
}
#projects{
  min-height: 430px;
  background: transparent url("../img/bg-project.jpg")no-repeat center;
  background-size: cover;
  padding-top:2em;

  .nav-tabs-project{
    border-top: 1px solid $border-white;
    border-bottom: 1px solid $border-white;
    margin-top: 5px;
    margin-bottom: 5px;

    &>li.active>a, &>li.active>a:hover, &>li.active>a:focus {
      color: $text-orange;
      background-color: transparent;
      border: 1px solid transparent;
      //border-top: 1px solid $border-orange;
      border-bottom: 2px solid $border-orange;
      //border-bottom-color: transparent;
      cursor: pointer;
    }
    &>li>a {
      position: relative;
      display: block;
      padding: 5px 10px;
      color: $text-white;
      font-size: 0.7em;
    }
    &>li>a:hover, &>li>a:focus {
      text-decoration: none;
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom: 2px solid $border-orange;
    }
    @media screen and (max-width:992px){
      &{
        text-align: center;
      }
      &>li{
        float: none;
        display: inline-block;
      }
    }
    @media screen and (min-width:992px){
      float: left;
    }
  }

}

.text-head{
  color: $text-white;
  padding: 12px 5px;
  margin: 0;
  font-size: 1.1em;

  @media screen and (max-width:992px){
    & {
      text-align: center;
    }
  }
}
.text-head-line{
  height: 2px;
  background-color: $border-orange;
  width: 50px;
}
.projects-box{
  position: relative;
  margin: 3em auto;

  & img{
    height: 250px;
  }
}
.projects-box-portfolio{
  margin: 1em auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.82);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;

  & a:hover{
    text-decoration: none;
  }
}
.overlay-portfolio{
  background-color: #ffd65a;

  & .overlay-text{
    color: $text-white;
  }
}
.projects-box:hover .overlay {
  height: 100%;
}
.overlay-text {
  white-space: nowrap;
  color: #11232f;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#news{
  min-height: 400px;
  background-color: $bg-silver;
  padding-top: 2em;
  padding-bottom: 2em;

  & .news-title{
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .news-box{
    background-color: $bg-white;
    padding-right: 15px;
    padding-left: 15px;

    & .news-box-title{
      margin: 0;
      padding-top: 1.5em;
      padding-bottom: 1em;
      color: #333;
      transition-duration: 0.25s;

      &:hover{
        transition-duration: 0.25s;
        color: $text-orange;
        text-decoration: none;
      }

    }// .news-box-title

    & .news-box-desc{
      font-size: 0.9em;
      color: $text-gray;
      text-align: justify;
    }//.news-box-desc

    .post-meta-line{
      position: relative;
      margin: 26px 0 15px;
      height: 3px;
      border-top: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
      background-color: #fff;

      &:before{
        content: "";
        border: 1px dotted #e9e9e9;
        display: block;
      }
    }

    .news-box-more{
      font-size: 0.8em;
      margin: 15px auto;

      & a{
        color: $text-gray;
        transition-duration: 0.25s;

        &:hover{
          transition-duration: 0.25s;
          color: $text-orange;
        }
      }

    }

  }//.news-box

}

#footer{
  //background-color: #2f2f2f;
  background: transparent url('../img/footer_bg.png')no-repeat center;
  background-size: cover;
  min-height: 300px;
  color: $text-silver;
  font-size: 1em;

  .footer-box-head{
    border-bottom: 1px solid $border-orange;
    font-size: 1.1em;
    padding: 15px 5px;
  }

  & p{
    font-size: 0.8em;
  }

  .footer-box-list-note{
    font-size: 1em;

    & li{
      font-size: 0.8em;
      margin-bottom: 0.6em;
      border-bottom: 1px solid transparent;

      &:hover{
        transition-duration: 0.25s;
        border-bottom: 1px solid $border-orange;
      }

      & a{
        color: $text-white;
        transition-duration: 0.25s;
        display: block;

        &:hover{ text-decoration: none; }
      }
    }

  }

  //@media screen and (max-width:768px){
    .footer-social {
      //background-color: red;
      //height: 100vh
    }
    .footer-social-list{
      float: left;
      & a{
        color: $text-white;
        transition-duration: 0.3s;

        &:hover{
          transition-duration: 0.3s;
          color: $text-orange;
          border-bottom: 1px solid $border-orange;
        }
      }
    }//.footer-social
  //}

}

// this class is for 404.html
.notFound-box{
  text-align: center;
  margin-bottom: 4em;

  .notFound-box-error{
    font-family: fantasy;
    font-size: 10em;
    color: $text-orange;

  }

}
// End 404.html


// this class is for catalog.html
.news-box-desc-catalog{
  max-height: 5em;
  overflow-y: hidden;

}
// End catalog.html



