.sp-page-title {
  position: relative;
  width: 100%;
  height: 100%;
  background: $bg-silver url("../img/head-bg.jpg") no-repeat center;
  background-size: cover;
  z-index: 1;

  &:after {
    position: absolute;
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c3254;
    opacity: .9;
  }
  .sp-page-title-text {
    color: $text-white;
    margin: 2em 1em;
    font-size: 1.1em;
  }
}

#contact-page {
  font-size: 1em;
  background-color: $bg-white;

  .contact-page-head{
    margin-bottom: 4em;
    & .contact-page-title{
      font-size: 1.2em;
    }
    & .contact-page-desc{
      color: $text-gray;
      font-size: 0.9em;
    }

  }

  .c-icon{
    display: inline-block;
    font-size: 2em;
    color: $text-orange;
    margin-left: 10px;

    & span.fa{
      padding-left: 5px;
      border-left: 1px solid $border-orange;


    }
  }
  .c-desc {
    display: inline-block;
  }
  .c-desc-head{
    font-size: 1em;
    margin: 0;
    margin-top: 8px;
  }
  .c-desc-t{
    font-size: 0.9em;
    color: $text-gray;
  }
}
