#projects-page{
  font-size: 1em;

  .carousel-product{
      .item img{
        width: 100%;
        max-height: 400px;
      }
  }

  .list-group-products{
    & .list-group-item{
      font-size: 0.9em;
      background-color: $bg-orange;
      border: $border-orange;
      border-bottom: 1px solid darken($border-orange,4%) !important;
      color: $text-white;
      margin-bottom: 0;
      transition-duration: 0.25s;

      &:hover{
        background-color: darken($bg-orange,2%);
        transition-duration: 0.25s;
      }

      &.active{
        background-color: darken($bg-orange,4%) ;
      }

    }

  }

  .jumbotron-products{
      font-size: 1em;
    .jumbotron-products-head{
      font-size: 0.9em;
    }

    .jumbotron-products-desc{
      font-size: 0.8em;
      color: $text-gray;
    }
  }
}