
.dropdown-toggle{color:#fff;}

.sidebar ul li{
    border-top: 1px solid #e7e7e7;
}

.navbar-static-top{
     background: #555;
     color: #fff;
     border-radius:4px;
     box-shadow: 0px 5px 30px 2px rgba(144, 166, 167, 0.42);
}
.bnd-name{
        margin: 5px 25px;
}
.bnd-name a{
        color:#fff;
        font-size:17px;
        text-decoration: none;
}
.time{
    box-shadow: 0px 5px 30px 2px rgba(144, 166, 167, 0.42);
    position: relative;
    margin: 0 20px;
}

.sidebar .nav-second-level li a:hover{color:#ff4500;}
.navbar-brand-left{
    margin: 12px 25px;
    border-radius: 4px;
    color: #fff;
    width: 70px;
    height: 50px;
}
.navbar-brand-left a{
    color:#fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}
.dropdown-user{
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.dropdown-user li{
    float: right;
}
.nav li{

    border-radius: 4px; 
    margin:0;
     
}
.nav li:hover{ 
    background-color:#808080;
    color:#5c8a8a;
}
.nav li a{
    color:#33343b;
    font-weight: bold;
}
.nav li a:hover{
    color:#084487;
    background-color:#fff;
}

.nav-tabs li{
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;   
    margin: 0 5px;

}
.nav-tabs li a{ color:#33343b;}
.nav-tabs li a:hover{
    color:#084487;
    background-color:#fff;
    }
.dropdown-messages{
    border: 1px solid  #b9afaf;
    background-color:#fff;
    color: #084487;
}
.panel-body{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
   
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    padding:5px 0;
    background-color: rgb(66, 139, 202);
    color:#fff;
    text-indent: 10px;
    border-radius:4px;
}
.btn-default {
    color: #fff;
    background-color: rgba(44, 204, 4, 0.68);
    border-color: #5ebf4c;
}
.btn-default:hover {
    color: #fff;
       background-color: #8de03b;
    border-color: #21c757;
}

.btn-info {
    color: #fff;
    background-color: #23527c;
    border-color: #23527c;
}
.btn-info:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-warning{
    color: #fff;
    background-color: #6495ed;
    border-color: #6c85c3;
}
.btn-warning:hover {
    color: #fff;
    background-color: #2d93cc;
    border-color: #179de2;
}

.form-group input:focus,
.form-group textarea:focus,
.form-inline input:focus,
.form-inline textarea:focus,
.form-group select:focus,
.form-inline select:focus

{
    box-shadow: 0 1px 10px rgba(84, 74, 74, 0.4) inset;
     border-radius: 4px;
      border-color: #ccc;
}

.modal-body input:focus,
.modal-body selct:focus,
.modal-body textarea:focus{
     box-shadow: 0 1px 10px rgba(84, 74, 74, 0.4) inset;
     border-radius: 4px;
      border-color: #ccc;
}
.userContainer{
    border:1px solid #e0dbdb;
 
}
table td a,
table td a:hover,
table td a:focus{text-decoration: none;}
.nav-tabs li:focus{
     background-color: #428bca;
     color: #fff;
}
.table{
    border: 1px solid #f1ebeb;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.47);
}

.profile-pic{
    width: 140px;
    height: 140px;
    margin:10px 0;
    border: 1px solid rgba(208, 205, 205, 0.88);

}
