/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

@font-face {
    font-family: 'iran-sans';
    src: url('font/iran_sans.eot') format('eot'),
    url('font/iran-sans.woff') format('woff'),
    url('font/iran_sans.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
.login-navbar{
    background-color: #000;
    opacity: 0.7;
}
.login-brand{
    background-color: blue;
    color:#Fff;
}
.login-brand a{
    color:#Fff;
}

body {
    background-color: #f8f8f8;
    font-family: "iran-sans" !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 10px;
    min-height: 568px;
    background-color: #fff;
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        padding: 0 10px;
        border-left: 1px solid #e7e7e7;
    }
}

@media (max-width: 768px) {
    .navbar-top-links .dropdown-messages {
        width: 275px;
        right: -130%;
    }

    .navbar-top-links .dropdown-tasks {
        width: 275px;
        left: 0;
    }

    .navbar-top-links .dropdown-alerts {
        width: 275px;
        left: -130%;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
    margin: 15px 0;
}


.navbar-top-links li:first-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 4px;
    min-height: 50px;
    color: #fff;
}

.navbar-top-links .dropdown-menu li {
    display: block;

}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
    color: #3a6286;
    text-align: right;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 300px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}


.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.sidebar ul li a.active {
    background-color: #eee;
    color: #000;
}
.sidebar ul li a{
    color: #000;
}
.sidebar ul li a:hover{
    color: #337AB7;
}

.input-group custom-search-form input {
        
    
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}

.input-group custom-search-form input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.input-group-btn button {
    height: 33px;
    width: 35px;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    background: #ff9900;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
  
  
.input-group-btn button:active,
.input-group-btn button:focus{   
    background: #c42f2f;
	outline: 0;   
}



.input-group-btn button:hover:before{
    border-right-color: #e54040;
}

.input-group-btn button:focus:before,
.input-group-btn button:active:before{
        border-right-color: #c42f2f;
}      

.input-group-btn button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    


.sidebar .arrow {
    float: left;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
    padding-right: 37px;
}

.sidebar .nav-third-level li a {
    padding-right: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}


.navbar-brand{color:#fff;}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.myFont {
    font-size: 24px !important;
}

ul.nav-tabs li.active {
    background-color: #f5f5f5 !important;
}

table.centerTable{
    text-align: center;
}

table.thAlign th {
    text-align: center;
}

g.raphael-group-85-creditgroup {
    display: none;
}

.brand-img
{
    width:150px;
    position:relative;
    margin:15px 0;
}
.txt-brand{
    
    margin:-55px 0;
}